* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #33261E;
    font-weight: 100;
    font-size: 20px;
}



body {
    min-width: 1320px;
    font-family: 'SUITE', sans-serif;
    ;
    font-weight: 100;
    background: #FAE7D5;
}

img {
    display: block;
    color: #33261E;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #33261E;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    background-color: #FDF6F0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* scroll bar */



/* main */


#fixed {
    position: relative;
    overflow: hidden;
}

/* logo */
.logo {
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 99;

}

/*top menu */
nav ul {
    position: fixed;
    top: 45px;
    right: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    z-index: 98;
}


nav ul li a {
    text-align: center;
    width: 100px;
    border: #33261E 1px solid;
    border-radius: 50px;
    margin-left: 20px;
    padding: 0 0 3px;
    display: inline-block;

}

nav ul li a:hover {
    background-color: #33261E;
    color: #FAE7D5;
}

/* f-sns+contact */
.f_sns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 50px;
    bottom: 45px;
    z-index: 97;
}

.cntct {
    margin-left: 10px;
    border: #33261E 0.5px solid;
    padding: 0 15px;
    border-radius: 30px;
    z-index: 96;
}

.cntct:hover {
    background-color: #33261E;
    color: #FAE7D5
}

/* f-oline shop */

.f_onlineshop {
    position: fixed;
    right: 45px;
    bottom: 45px;
    border-radius: 100px;
    border: #33261E 0.5px solid;
    width: 135px;
    height: 135px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 95;
}

.f_onlineshop a {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    border-radius: 100px;
}

.f_onlineshop:hover a {
    color: #FAE7D5;
}

.f_onlineshop:hover {
    background-color: #33261E;
}


/* arrow */
.top {
    position: fixed;
    top: 400px;
    right: 90px;
    display: none;
}

/* footer */

footer p {
    position: fixed;
    bottom: 20px;
    left: calc(50% - (479.8px / 2));
    font-size: 12px;
    z-index: 97;
}

/* /////////////fixed end////////////// */


/* page 1 */
#page1 {
    margin: auto;
    background: url(../img/bg_f.png) no-repeat center;
    height: 937px;
    z-index: 2;
}

#page1 p {
    text-align: center;
    font-size: 480px;
    font-family: 'COCOMAT', sans-serif;
    color: #33261E;
    overflow: hidden;
    padding-top: 70px;
}


/* page 2 */
#page2 {
    margin: auto;
    background: url(../img/bg_f.png) no-repeat center;
    height: 937px;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.con {
    width: 1080px;
    height: 697px;
    position: relative;
    z-index: 11;
}

.con1 {
    text-align: center;
    z-index: 12;
}

.con1 p {
    font-size: 20px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 10px 3px;
    background: #33261E;
    color: #FAE7D5;
    margin: auto;
    z-index: 13
}

.con img {
    padding-left: 80px;
    padding-top: 80px;
}

.con2 ul {
    background-color: white;
    position: absolute;
    top: 340px;
    left: 540px;
    padding: 50px 75px;
    border-radius: 100px;
    border: solid 1px #33261E;
    box-shadow: 8px 8px #FAE7D5;
}